<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.MyBus_backand.Mapper.MoviesMapper">
    <resultMap id="Movies" type="com.example.MyBus_backand.entity.Movies">
        <id column="Movie_Id" property="id"/>
        <result column="Movies_Noid" property="movie_noid"/>
        <result column="Movie_Name" property="movie_name"/>
        <result column="Movie_Date" property="movie_date"/>
        <result column="Movie_Duration" property="movie_duration"/>
        <result column="Movie_Director" property="movie_director"/>
        <result column="Movie_Publisher" property="movie_publisher"/>
        <result column="Movie_Producer" property="movie_producer"/>
        <result column="Movie_SeriesName" property="movie_series"/>
    </resultMap>

    <resultMap id="Category" type="com.example.MyBus_backand.entity.Category">
        <id column="Category_UUid" property="category_uuid"/>
        <result column="Category_Uid" property="category_uid"/>
    </resultMap>

    <resultMap id="Teachers" type="com.example.MyBus_backand.entity.Teachers">
        <id column="Teacher_Id" property="teacher_id"/>
        <result column="Teacher_Name" property="teacher_name"/>
        <result column="Birth_Place" property="birth_place"/>
        <result column="Teacher_Age" property="teacher_age"/>
        <result column="Teacher_BirthDay" property="teacher_birthDay"/>
        <result column="Teacher_Height" property="teacher_height"/>
        <result column="Teacher_Waist" property="teacher_waist"/>
        <result column="Teacher_Hipline" property="teacher_hipline"/>
        <result column="Teacher_Bust" property="teacher_bust"/>
        <result column="Teacher_Habby" property="teacher_habby"/>
        <result column="Teacher_Cup" property="teacher_cup"/>
    </resultMap>

    <resultMap id="MoviesPicture" type="com.example.MyBus_backand.entity.MoviesPicture">
        <id column="MoviePicture_Id" property="moviepicture_id"/>
        <result column="MoviesPicture_Path" property="moviespicture_path"/>
        <result column="MoviePicture_Noid" property="moviepicture_noid"/>
    </resultMap>

    <resultMap id="Magnetic" type="com.example.MyBus_backand.entity.Magnetic">
        <id column="Magnetic_Id" property="magnetic_id"/>
        <result column="Magnetic_Name" property="magnetic_name"/>
        <result column="Magnetic_large" property="magnetic_large"/>
        <result column="Magnetic_ReleaseDate" property="magnetic_releasedate"/>

    </resultMap>

<!--    通过Noid搜索影片 番号搜索-->
    <select id="SelectMovieBy_Noid" resultMap="movies">
        select * from movies where movie_noid like cnocat("%", #{Movie_Noid},"%")
    </select>

<!--   通过Movie_Name查询影片 模糊查询-->
    <select id=" SelectMovieBy_Name" resultMap="movies">
        select * from movies where movie_name like concat("%", #{Movie_Name},"%")
    </select>

<!--    通过系列名Movie_SeriesName查询影片 模糊查询-->
    <select id="SelectMovieby_Series" resultMap="movies">
        select * from movies where movie_seriesname like concat("%", #{Movie_SeriesName},"%")
    </select>

<!--    通过查询影片Teacher_Name查询影片-->
    <select id="SelectMovieBy_TeacherName" resultMap="movies">
        select * from movies where teacher_name like concat("%", #{Movie_TeachersList},"%")
    </select>

<!--    通过Publisher_Name查询影片-->
    <select id="SelectMovieBy_PublisherName" resultMap="movies">
        select * from movies where publisher_name like concat("%", #{Movie_Publisher},"%")
    </select>

<!--    通过Producer_Name查询影片-->
    <select id="SelectMovieBy_ProducerName" resultMap="movies">
        select * from movies where producer_name like concat("%", #{Movie_Producer},"%")
    </select>

<!--    每日爬虫进行更新-->
    <insert id="InsertMovie_New" useGeneratedKeys="true" keyColumn="movie_id"
            keyProperty="Movie_Id" parameterType="com.example.MyBus_backand.entity.Movies">
        insert into movies(movie_noid, movie_name, movie_date, movie_duration, movie_categoryList,
                           <if test="Movie_Publisher != null">
                               movie_publisher,
                           </if>
                           <if test="Movie_Producer != null">
                               movie_producer,
                           </if>
                           
                           movie_teacherList,
                           <if test="Movie_TeachersPicture != null and Movie_TeachersPicture != ''">
                               movie_teacherPicture,
                           </if>
                           
                           <if test="Movie_PictureList != null">
                               movie_pictureList, 
                           </if>
                           <if test="Movie_MagneticList != null">
                               movie_magneticList, 
                           </if>
                           <if test="Movie_SeriesName != null and Movie_SeriesName != ''">
                               movie_serious,
                           </if>
                           <if test="Movie_Director != null and Movie_Director !=''">
                               movie_director
                           </if>)
                           values (#{Movie_Noid},#{Movie_Name},#{Movie_Date},#{Movie_Duration},#{Movie_CategoryList},
                                   <if test="Movie_Publisher != null">
                                       #{Movie_Publisher},
                                   </if>
                                   <if test="Movie_Producer != null">
                                       #{Movie_Producer},
                                   </if>
                                   #{Movie_TeachersList},
                                   <if test="Movie_TeachersPicture != null">
                                       #{Movie_TeachersPicture},
                                   </if>
                                   <if test="Movie_PictureList != null">
                                       #{Movie_PictureList},
                                   </if>
                                   <if test="Movie_MagneticList != null">
                                       #{Movie_MagneticList},
                                   </if>
                                   <if test="Movie_SeriesName != null">
                                       #{Movie_SeriesName},
                                   </if>
                                   <if test="Movie_Director != null">
                                       #{Movie_Director}
                                   </if>)
    </insert>

</mapper>