<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.MyBus_backand.Mapper.MoviesMapper">
    <resultMap id="Movies" type="com.example.MyBus_backand.entity.Movies">
        <id column="Movie_Id" property="id"/>
        <result column="Movies_Noid" property="movie_noid"/>
        <result column="Movie_Name" property="movie_name"/>
        <result column="Movie_Date" property="movie_date"/>
        <result column="Movie_Duration" property="movie_duration"/>
        <result column="Movie_Director" property="movie_director"/>
        <result column="Movie_Publisher" property="movie_publisher"/>
        <result column="Movie_Producer" property="movie_producer"/>
        <result column="Movie_SeriesName" property="movie_series"/>
    </resultMap>

    <resultMap id="Category" type="com.example.MyBus_backand.entity.Category">
        <id column="Category_UUid" property="category_uuid"/>
        <result column="Category_Uid" property="category_uid"/>
    </resultMap>

    <resultMap id="Teachers" type="com.example.MyBus_backand.entity.Teachers">
        <id column="Teacher_Id" property="teacher_id"/>
        <result column="Teacher_Name" property="teacher_name"/>
        <result column="Birth_Place" property="birth_place"/>
        <result column="Teacher_Age" property="teacher_age"/>
        <result column="Teacher_BirthDay" property="teacher_birthDay"/>
        <result column="Teacher_Height" property="teacher_height"/>
        <result column="Teacher_Waist" property="teacher_waist"/>
        <result column="Teacher_Hipline" property="teacher_hipline"/>
        <result column="Teacher_Bust" property="teacher_bust"/>
        <result column="Teacher_Habby" property="teacher_habby"/>
        <result column="Teacher_Cup" property="teacher_cup"/>
    </resultMap>

    <resultMap id="MoviesPicture" type="com.example.MyBus_backand.entity.MoviesPicture">
        <id column="MoviePicture_Id" property="moviepicture_id"/>
        <result column="MoviesPicture_Path" property="moviespicture_path"/>
        <result column="MoviePicture_Noid" property="moviepicture_noid"/>
    </resultMap>
</mapper>